<nav class="navbar navbar-light bg-danger">
    <span class="navbar-brand mb-0 h1 text-white">Digital Twin</span>
</nav>
<div class="row justify-content-center mt-5">
    <div class="col-6 mt-5">
        <form>
            <div class="form-group">
                <label for="username" class="text-white h4" >Username</label>
                <input type="text" class="form-control form-control-lg" id="username" aria-describedby="username"
                    placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"  class="text-white h4">Password</label>
                <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
                    placeholder="Password">
            </div>
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-primary btn-lg btn-block h3">Log In</button>
            </div>
        </form>
    </div>
</div>