<div class="row no-gutters">
    <div class="col-12">
            <svg id="canvas" style="background-color: beige">
                    <defs>
            
                        <svg class="box" x="600" y="50" width="250" height="250"  >
                            <g>
                                <rect x="5" y="5" width="200" height="200"
                                    style="fill:rgb(0,255,255);stroke-width:10;stroke:rgb(0,0,0)" />
                                <text x="40" y="40" font-family="Verdana" font-size="35" fill="red">Hello</text>
                            </g>
                        </svg>
            
                    </defs>
                    <rect x="50" y="50" width="200" height="200" style="fill:rgb(0,0,255);stroke-width:10;stroke:rgb(0,0,0)" />
                 

                    <polyline points="250,150 600,150" style="fill:rgb(0,0,255);stroke-width:30;stroke:rgb(0,0,0)" />
                    <polyline points="730,370 730,200" style="fill:rgb(0,0,255);stroke-width:30;stroke:rgb(0,0,0)" />
                    <polyline points="730,370 730,500" style="fill:rgb(0,0,255);stroke-width:30;stroke:rgb(0,0,0)" />

                    <polyline points="250,150 600,150" style="fill:white;stroke-width:20;stroke:white" />
                    <polyline points="730,370 730,200" style="fill:white;stroke-width:20;stroke:white" />
                    <polyline points="730,370 730,500" style="fill:white;stroke-width:20;stroke:white" />

                   

                </svg>
    </div>
</div>
