<div class="row no-gutters h-100">
    <div class="col no-gutters">
        <div class="row no-gutters  h-100 w-100">
            <div class="col no-gutters " #onecell>
                <div class="card h-100 border border-success m-1">
                    <div class="card-body card-body-padding-modify">
                        <div class="canvas-container" #waterContainer>
                            <svg id="canvas">
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>