<nav class="navbar navbar-expand navbar-light bg-danger">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white">Digital Twin</span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" [routerLink]="['/dashboard']">Dashboard</a>
                <a class="nav-item nav-link text-white active" [routerLink]="['/settings']">Settings</a>
            </div>
        </div>
    </div>
</nav>