<div class="row no-gutters h-100">
   <div class="col no-gutters d-flex align-content-around  flex-wrap">
      <div class="row no-gutters" style="height: 95%;width: 100%">
         <div class="col no-gutters d-flex align-items-end justify-content-start" #onecell>
            <div class="card boarer border-danger m-1 w-100 h-100">
               <div class="card-body card-body-padding-modify">
                  <h5 class="card-title text-danger border-bottom border-danger rounded-bottom chart-title">Water requirements</h5>
                  <google-chart class="mx-auto" style="width:90%;height: 80%;" #chart [type]="type" [data]="data" [columnNames]="columnNames" [options]="options">
                  </google-chart>
               </div>
               <div class="card-footer bg-danger m-2 d-flex justify-content-between nut-footer" >
                  <span class="badge badge-danger border border-light nut-badje">Pumped: 5L</span>
                  <span class="badge badge-danger border border-light nut-badje">Requirement: 100L</span>
               </div>
            </div>
         </div>
         <div class="col no-gutters d-flex align-items-end justify-content-end">
            <div class="card boarer border-danger m-1 w-100 h-100">
               <div class="card-body card-body-padding-modify">
                  <h5 class="card-title text-danger border-bottom border-danger rounded-bottom chart-title">Nutritional requirements</h5>
                  <google-chart class="mx-auto" style="width:90%;height: 80%;"  [type]="type" [data]="data" [columnNames]="columnNames" [options]="options">
                  </google-chart>
               </div>
               <div class="card-footer bg-danger m-2 d-flex justify-content-between nut-footer" >
                  <span class="badge badge-danger border border-light nut-badje">N: 5Kg</span>
                  <span class="badge badge-danger border border-light nut-badje">P: 2Kg</span>
                  <span class="badge badge-danger border border-light nut-badje">K: 2.5Kg</span>
                  <span class="badge badge-danger border border-light nut-badje">Y: 0.1Kg</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>