/* You can add global styles to this file, and also import other style files */
body,
html
 {
    width: 100%;
    height: 100%;
}

body {
    background-color: #262626 !important;
}
html {
    background-color: #262626 !important;

}
.container-fluid{
    padding: 0 !important;
}
